NODE_ENV=development
PORT=5000

JCD_API_KEY=JCDEceauxAPIKEY

MONGO_URI_DEV=mongodb+://yourdevdb
MONGO_URI_PROD=mongodb://yourlivedb

JWT_SECRET=supersecret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# Keeping these here for future as we have some email related functionality
# built but not currently in use.
SENDGRID_API_KEY=currently_not_in_use
SMTP_HOST=currently_not_in_use
SMTP_PORT=currently_not_in_use
SMTP_EMAIL=currently_not_in_use
SMTP_PASSWORD=currently_not_in_use
FROM_EMAIL=noreply@qcb.io
FROM_NAME=QuickCityBikes
